  body{
    background-image: url('img/BG.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: Hero;

   }
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;


}
         nav{
             background: #00000;
             height: 80px;
             width: 100%;


         }
           nav ul{
               float: right;
               margin-right: 20px;

           }

           nav ul li{
               display: inline-block;
               line-height: 80px;
               margin: 0 5px;
           }

              nav ul li a{
             color: white;
             font-size: 17px;
             text-transform: uppercase;
           }


       h1{
           text-align: center;
     font-size: 3rem;
     text-transform: uppercase;
     letter-spacing: 5px;
     border: 1px solid #FFFFFF;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 2rem 8rem;
     color: #FFFFFF;


      }
                 a{
                     position: relative;
                     display: inline-block;
                     /*padding: 25px 30px;
                     margin: 40px 0;*/
                     color: #03e9f4;
                    transition: 1s;

                 }
                  a:hover{
                    background: #03e9f4;
                    color: #050801;
                    box-shadow: 0 0 5px #03e9f4,
                                0 0 25px #03e9f4,
                                0 0 50px #03e9f4,
                                0 0 200px #03e9f4;
                  }
                      a span{
                          position: absolute;
                          display: block;
                      }
                      a span:nth-child(1){
                          top: 0;
                          left: 0;
                          width: 100%;
                          height: 2px;
                          background: linear-gradient(90deg,transparent, #03e9f4);
                          animation: animate1 1s linear infinite;
                      }
                      @keyframes animate1{
                          0%{
                             left: -100%;
                          }
                           50%,100%{
                             left: 100%;
                          }

                      }
                        a span:nth-child(2){
                          top: -100%;
                          right: 0;
                          width: 2px;
                          height: 100%;
                          background: linear-gradient(180deg,transparent, #03e9f4);
                          animation: animate2 1s linear infinite;
                          animation-delay: 0.25s;

                      }
                      @keyframes animate2{
                          0%{
                             top: -100%;
                          }
                           50%,100%{
                             top: 100%;
                          }

                      }
                                a span:nth-child(3){
                          bottom: 0;
                          right: -100%;
                          width: 100%;
                          height: 2px;
                          background: linear-gradient(270deg,transparent, #03e9f4);
                          animation: animate3 1s linear infinite;
                          animation-delay: 0.5s;

                      }
                      @keyframes animate3{
                          0%{
                             right: -100%;
                          }
                           50%,100%{
                             right: 100%;
                          }

                      }
            .social-menu ul {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #FFCC8A;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #6A97E3;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}
